<div class='container'>
  <h1 [routerLink]='link' class='entity-name' *ngIf='entity'>{{ entity.name }}</h1>
  <h1 style='text-align: center'>Pricing</h1>
    <div class='tariff-layout'>
      <div class='tariff-container'>
        <p class='tariff-banner'></p>
        <div class='tariff-wrapper tariff-body'>
          <h3 class='tariff-title'>Basic</h3>
          <div class='tariff-pricing'>
            <p class='tariff-price'> $9.99/mo</p>
          </div>
          <app-devpoint-button fullWidth
                               devpoint-style='transparent-outline'
                               size='large'
                               class='cta'
                               [disabled]='currentSubscription?.tariff?.id === 0'
                               (click)='onSubscribe(0)'
          >
            {{ currentSubscription?.tariff?.id === 0 ? 'Current tariff' : (currentSubscription?.tariff?.id ?? 0) > 0 ? 'Downgrade' : 'Subscribe' }}
          </app-devpoint-button>
          <p class='tariff-description'>Gives access to paid publications.
          </p>
        </div>
        <div class='tariff-wrapper tariff-footer'>
          <p class='tariff-feature-title'>What's included</p>
          <ul class='tariff-features'>
            <li class='tariff-feature'>
              <span class='tariff-feature-content'>Unlimited access to basic level publications</span>
            </li>
          </ul>
        </div>
      </div>
      <!---->
      <div class='tariff-container'>
        <p class='tariff-banner'></p>
        <div class='tariff-wrapper tariff-body'>
          <h3 class='tariff-title'>Improved</h3>
          <div class='tariff-pricing'>
            <p class='tariff-price'> $19.99/mo</p>
          </div>
          <app-devpoint-button fullWidth
                               devpoint-style='transparent-outline'
                               size='large'
                               class='cta'
                               [disabled]='currentSubscription?.tariff?.id === 1'
                               (click)='onSubscribe(1)'
          >
            {{ currentSubscription?.tariff?.id === 1 ? 'Current tariff' : currentSubscription?.tariff?.id === 2 ? 'Downgrade' : currentSubscription?.tariff?.id === 0 ? 'Upgrade' : 'Subscribe' }}
          </app-devpoint-button>
          <p class='tariff-description'>Gives access to paid publications.
          </p>
        </div>
        <div class='tariff-wrapper tariff-footer'>
          <p class='tariff-feature-title'>What's included</p>
          <ul class='tariff-features'>
            <li class='tariff-feature'>
              <span class='tariff-feature-content'>Unlimited access to basic level publications</span>
            </li>
            <li class='tariff-feature'>
              <span class='tariff-feature-content'>Unlimited access to improved level publications</span>
            </li>
          </ul>
        </div>
      </div>
      <!---->
      <div class='tariff-container'>
        <p class='tariff-banner'></p>
        <div class='tariff-wrapper tariff-body'>
          <h3 class='tariff-title'>Pro</h3>
          <div class='tariff-pricing'>
            <p class='tariff-price'> $39.99/mo</p>
          </div>
          <app-devpoint-button fullWidth
                               devpoint-style='transparent-outline'
                               size='large'
                               class='cta'
                               [disabled]='currentSubscription?.tariff?.id === 2'
                               (click)='onSubscribe(2)'
          >
            {{ currentSubscription?.tariff?.id === 2 ? 'Current tariff' : currentSubscription?.tariff?.id === 0 || currentSubscription?.tariff?.id === 1 ? 'Upgrade' : 'Subscribe' }}
          </app-devpoint-button>
          <p class='tariff-description'>Gives access to paid publications.
          </p>
        </div>
        <div class='tariff-wrapper tariff-footer'>
          <p class='tariff-feature-title'>What's included</p>
          <ul class='tariff-features'>
            <li class='tariff-feature'>
              <span class='tariff-feature-content'>Unlimited access to basic level publications</span>
            </li>
            <li class='tariff-feature'>
              <span class='tariff-feature-content'>Unlimited access to improved level publications</span>
            </li>
            <li class='tariff-feature ng-star-inserted'>
              <span class='tariff-feature-content'>Gives access to super publications</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>

