.project-preview {
    text-decoration: none; 
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    cursor: pointer;
}

.default-project-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    background-color: #F3F3F3;
}

.project-img {
    background-color: #F3F3F3;
    height: 150px!important;
    width: 150px!important;
    border-radius: 20px;
    object-fit: cover;
}

.project-img-after {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(255,255,255);
    transition: opacity 0.16s ease-in-out;
}

.project-preview:hover .project-img-after {
	color: #000;
	text-align: center;
	font-weight: bold;
    opacity: 0.5;
	display: block;
	text-shadow: 1px 1px 1px #fff;
}

.project-label {
    position: absolute;
    mix-blend-mode: difference;
    color: white;
    font-weight: bold;
    user-select: none;
}

.project-label.cover {
    mix-blend-mode: overlay;
    color: white;
    font-weight: bold;
    opacity: 0.5;
    transition: color 0.16s ease-in-out;
}

.project-preview:hover .project-label.cover {
    color: black;
}