<div class='container'>
  <app-devpoint-side-nav [pages]='["Project", "Team"]'
                         [(page)]='page'
  ></app-devpoint-side-nav>
  <div class='body'>
    <div class='page-wrapper' *ngIf='page === 0'>
      <h1>
        Project
      </h1>
      <mat-divider></mat-divider>
      <div class='wrapper'>
        <h2>General information</h2>
        <div class='input-wrapper'>
          <div class='input-label-wrapper'>
            <label class='input-label'>Name</label>
            <label class='sym-count'>32</label>
          </div>
          <input type='text' class='input-field' />
        </div>
        <div class='input-wrapper'>
          <div class='input-label-wrapper'>
            <label class='input-label'>Description</label>
            <label class='sym-count'>256</label>
          </div>
          <div class='input-field input-textarea'>
            <textarea type='text' class='empty-input'
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="3"
            ></textarea>
          </div>
          <div class='input-wrapper'>
            <div class='input-label-wrapper'>
              <label class='input-label'>Tags</label>
              <label class='sym-count'>32</label>
            </div>
            <div class='input-field input-tags'>
              <app-tags-input [(tags)]='tags'></app-tags-input>
            </div>
          </div>
        </div>
      </div>

      <div class='wrapper mt32'>
        <h2>Image</h2>
        <app-devpoint-upload-image label='Add image here'
                                   description='Drop a file with 150×150 size here (jpg, gif, png) or click'
                                   buttonLabel='Upload image'
                                   (fileChange)='onFileChanged($event)'
                                   [background]='false'
                                   noMargin
                                   fullWidth
        ></app-devpoint-upload-image>
      </div>
    </div>

    <div class='page-wrapper' *ngIf='page === 1'>
      <h1>
        Team
      </h1>
      <mat-divider></mat-divider>
      <div class='wrapper'>
        <div class='manage-access'>
          <h2 class='no-margin'>Manage team</h2>
          <app-devpoint-button size='small'
                               autoWidth
                               (buttonClick)='onDeveloperAdd()'
          >
            Add developer
          </app-devpoint-button>
        </div>

        <div class='input-wrapper mt16'>
          <div class='input-field developers-container'>
            <ng-container *ngFor='let developer of developers'>
              <div class='entry'>
                <app-developer-entry [developer]='developer'
                                     (remove)='onDeveloperRemove($event)'
                ></app-developer-entry>
              </div>
              <mat-divider></mat-divider>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class='buttons'>
      <div class='button'>
        <app-devpoint-button devpoint-style='transparent-outline'
                             routerLink='/project/{{project.id}}'
                             buttonFontColor='gray'
                             [bold]='false'
        >
          Back to project
        </app-devpoint-button>
      </div>
      <div class='button'>
        <app-devpoint-button>
          Save
        </app-devpoint-button>
      </div>
    </div>
  </div>
</div>
