<div class="container">
    <app-developer-preview [developer]="developer" large></app-developer-preview>
</div>

<div class="projects-container container">
    <div>Projects ({{ projects.length }}):</div>
    <div class="projects-swiper">
        <swiper [slidesPerView]="5" 
                [spaceBetween]="10" 
                >
            <ng-template *ngFor="let project of projects" swiperSlide>
                <app-project-mini-preview [project]="project"></app-project-mini-preview>
            </ng-template>
            <ng-template *ngIf="true" swiperSlide>
                <app-project-mini-preview>
                    <a routerLink="/create-project">
                        <h1>+</h1>
                    </a>
                </app-project-mini-preview>
            </ng-template>
            <ng-template *ngFor="let i of 5 - (projects.length + (true ? 1 : 0)) | range" swiperSlide>
                <app-project-mini-preview>
            </app-project-mini-preview>
            </ng-template>
        </swiper>
        <button *ngIf="(projects.length + (true ? 1 : 0)) > 5" (click)="swipePrev()" class="nav-button button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
              </svg>
        </button>
        <button *ngIf="(projects.length + (true ? 1 : 0)) > 5" (click)="swipeNext()" class="nav-button button-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
              </svg>
        </button>
    </div>
</div>

<div class="container posts-container">
    <div>Posts ({{ posts.length }}):</div>
    <div class="posts">
        <ng-container *ngFor="let post of posts">
            <app-post-preview [post]="post"></app-post-preview>
        </ng-container>
    </div>
</div>
